<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.sebulli.fakturama.exporters.productandbuyers"
            class="com.sebulli.fakturama.exporters.productbuyers.ExportWizard"
            icon="icons/16/product_buyers_16.png"
            id="com.sebulli.fakturama.export.productbuyers.exportWizard"
            name="export product and buyers">
      </wizard>
      <wizard
            category="com.sebulli.fakturama.exporters.salesandexpenditures"
            class="com.sebulli.fakturama.exporters.sales.ExportWizard"
            icon="icons/16/sales_16.png"
            id="com.sebulli.fakturama.export.sales.exportWizard"
            name="export sales">
      </wizard>
      <wizard
            category="com.sebulli.fakturama.exporters.salesandexpenditures"
            class="com.sebulli.fakturama.exporters.expenditures.ExportWizard"
            icon="icons/16/expenditure_16.png"
            id="com.sebulli.fakturama.export.expenditures.exportWizard"
            name="export expenditures">
      </wizard>
      <category
            id="com.sebulli.fakturama.exporters.productandbuyers"
            name="product and buyers">
      </category>
      <category
            id="com.sebulli.fakturama.exporters.salesandexpenditures"
            name="sales and expenditures">
      </category>
   </extension>

</plugin>
