<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="com.sebulli.fakturama.exporters.productbuyers.ExportWizard"
            icon="icons/16/product_buyers_16.png"
            id="com.sebulli.fakturama.export.productstatistic.exportWizard"
            name="export wizard">
      </wizard>
      <wizard
            class="com.sebulli.fakturama.exporters.sales.ExportWizard"
            icon="icons/16/sales_16.png"
            id="com.sebulli.fakturama.export.sales.exportWizard"
            name="sales wizard">
      </wizard>
   </extension>

</plugin>
