Package: fakturama
Version: 1.6.1
Section: misc
Priority: extra
Architecture: i386
Depends: bash
Installed-Size: 40000
Maintainer: Gerd Bartelt <fakturama@sebulli.com>
Homepage: fakturama.sebulli.com
Description: Free and Open Source Invoicing Software

