<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocinstall.xml">
      </toc>
      <toc
            file="tocpreferences.xml">
      </toc>
      <toc
            file="toclicense.xml">
      </toc>
   </extension>

</plugin>
