Package: fakturama
Version: 1.3.0
Section: misc
Priority: extra
Architecture: i386
Depends: bash
Installed-Size: 8
Maintainer: Gerd Bartelt <fakturama@sebulli.com>
Homepage: fakturama.sebulli.com
Description: Free and Open Source Invoicing Software

